@charset "UTF-8";

body {
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

header {
  width: 100%;
  display: inline-block;
  background:#8991a7; 
}

header .logo {
  position: absolute;
  z-index: 2;
  background-color: white;
  padding: 10px 8px 10px 5px;
}

header .logo img {
  width: 150px; 
  height: auto;
  z-index: 2;
}

header .navbar ul {
  display: flex;
  float: right;
  position: relative;
  margin: 10px 0;
  padding-left: 10px;
}

header .navbar ul li {
  margin: 5px; 
  padding-right: 50px;  
}

header .navbar ul li a {
  color: #000;
  font-weight: 700;
  font-size: 15px;
}

header .navbar ul li a:hover {
  color: #75a9ff;
}

header .respons {
  visibility: hidden; 
  width: 0; 
  height: 0; 
}

header .drawer {
  visibility: hidden;
}

.information_class {
  width: 100%;
  position: relative;
  top: 50px;
}

.information_inner {
  padding: 10px;
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
}

.address {
  margin-left: 10px;
  width:30%;
}

.address img {
   width: 350px;
   height:100px;
}

.address p {
  font-size: 26px;
  margin-top: 20px;
  margin-right: 10px;
}

.time {
  display: flex;
  font-size: 20px;
  padding-left: 40px;
  border-left: dashed 1px #A0DAFB;
}

.time p {
  margin-top: 16px;
  font-size: 24px;
}

.time .tel_number {
  background-color: #A0DAFB;
  border-radius: 30px;
  text-align: center;
  height:50px;
  width: 220px;
  margin-top: 100px;
}

.footer_menu {
  background-color: #C4C4C4;
  margin-top: 50px;
}

.footer_menu ul {
  padding:30px;
  display: flex;
}

.footer_menu ul li {
  margin-right: 40px;
}

.footer_logo {
  text-align: center;
}